* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
}

/* Shared Style */

.btn {
    background-color: #F15B22;
    color: #FFFFFF;
    border: none;
    padding: 20px 26px;
    border-radius: 12px;
    font-size: 20px;
    font-weight: 600px;
}

/* Main Style */

#header-container {
    position: relative;
}

#header-container img {
    max-width: 100%;
}

#header-content {
    position: absolute;
    top: 170px;
    left: 650px;
    right: 100px;
    max-width: 448px;
}

#header-content h2 {
    /* border: 1px solid black; */
    font-size: 53px;
    font-weight: bold;
    text-align: right;
}

#header-content p {
    color: #444343;
    font-size: 14px;
    line-height: 26px;
    /* max-width: 420px; */
    text-align: right;
    margin-top: 24px;
}

#header-content-btn {
    text-align: right;
    margin-top: 32px;
}


#failures-year {
    /* border: 1px solid black; */
    max-width: 77%;
    margin: 0px auto;
    display: flex;
    align-items: center;
    gap: 60px;
    margin-top: 100px;
}

#failures-content {
    margin-top: 100px;
}

#failures-content h2 {
    font-size: 30px;
    font-weight: bold;
}

#failures-content p {
    color: #444343;
    font-size: 14px;
    line-height: 26px;
    margin-top: 24px;
}

#failures-content-list {
    list-style: none;
    list-style-position: inside;
    margin-top: 16px;
}

#failures-content-list li {
    color: #444343;
    padding-left: 30px;
    font-size: 14px;
    line-height: 26px;
    position: relative;
}

#failures-content-list li::before {
    position: absolute;
    content: "";
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    background-image: url('images/icons/check-mark.png');
    background-repeat: no-repeat;
    background-size: contain;
}


#plan {
    /* border: 1px solid black; */
    max-width: 77%;
    margin: 120px auto 0px auto;
}

#plan-heading h2 {
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}

#plan-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.plan-card-img {
    text-align: center;
}

.plan-card h3 {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-top: 24px;
}

.plan-card p {
    text-align: center;
    color: #737272;
    font-size: 25px;
    font-weight: 500;
    margin-top: 16px;
}


#mindset {
    max-width: 77%;
    margin: 120px auto 0px auto;
    position: relative;
}
#mindset-content {
    position: absolute;
    top: 59px;
    bottom: 59px;
    left: 64px;
    z-index: 2;
}
#gradient-3 {
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 1;
}
#gradient-3 img {
    filter: opacity(80%);
}
#mindset-content h2 {
    color: #FFFFFF;
    font-size: 35px;
    font-weight: bold;
    max-width: 420px;
}
#mindset-content button {
    background-color: #FFFFFF;
    color: #F15B22;
    font-size: 20px;
    font-weight: 600;
    padding: 20px 36px;
    margin-top: 24px;
}


footer {
    background-color: #151414;
    padding: 130px 230px;
    display: flex;
    justify-content: space-between;
    gap: 330px;
}
#future h2 {
    font-size: 40px;
    font-weight: bold;
    color: #F8F8F8;
}
#future-content p {
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    color: #FFFFFF;
}